/* ============================================== /*
 *                 Product_Insure
/* ============================================== */

#call_topfix { position: fixed; top: 50px; display: inline-block; width: 100%; background-color: #fff; z-index: 999; }
#call_topfix .call_area { position: relative; }
#call_topfix .call_area .thumb { position: absolute; left: 0; padding: 10px; }
#call_topfix .call_area .thumb img { width: 70px; height: 70px; }
#call_topfix .call_area .cont { float: left; padding: 10px 10px 10px 90px; height: 90px; }
#call_topfix .call_area .cont p:nth-child(1) { font-size: 12px; }
#call_topfix .call_area .cont p:nth-child(2) { font-size: 16px; font-weight: bold; }

#product_insure { margin-top: 225px; padding: 25px 0px; }
#product_insure .get_detail { text-align: center; }
#product_insure .get_detail .collabo { display: flex; position: relative; margin-bottom: 25px; }
#product_insure .get_detail .collabo .logo { display: inline-block; width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; border-radius: 50%; box-shadow: 0px 0px 2px #555; }
#product_insure .get_detail .collabo .logo.sym_1 { background-image: url("../images/product/aia.png"); }
#product_insure .get_detail .collabo p { font-size: 16px; font-weight: bold; line-height: 20px; }
#product_insure .get_detail .collabo p:after { border: 1px solid #555; bottom: -10px; content: ""; left: 0; margin: 0 auto; position: absolute; right: 0; width: 30%; }
#product_insure .get_detail .product_title { clear: both; margin-bottom: 5px; }
#product_insure .get_detail .product_title h2 { margin-bottom: 20px; font-size: 22px; }
#product_insure .get_detail .video-text { margin-top: 5px; font-size: 14px; font-weight: bold; color: #ff0000; }

.call-btn { padding: 10px; background-color: #eee; border-bottom: 1px solid #555; text-align: center; color: #fff; }
.call-btn p { margin-bottom: 4px; font-size: 13px; font-weight: bold; color: #336307; }
.call-btn p i { padding: 0px 2px; }
.call-btn button { margin-bottom: 3px; padding: 8px 20px; background-color: #59a018; box-shadow: 3px 3px 0px #336307; font-size: 16px; font-weight: bold; letter-spacing: 1px; color: #fff; border: 0px; border-radius: 5px; outline: none; }
.call-btn button i { margin-right: 5px; }
.call-btn button:hover { background-color: #336307; }

.animation-down {
	-webkit-animation-name: example; -webkit-animation-duration: 0.5s; -webkit-animation-timing-function: ease; -webkit-animation-iteration-count: infinite;
	position: relative;	animation-name: example; animation-duration: 0.5s; animation-timing-function: ease; animation-iteration-count: infinite;	
}

@-webkit-keyframes example {
  0%   { top: -3px; opacity: 0.8; }
  100% { top: 1px; opacity: 1.0; }
}

@keyframes example {
  0%   { top: -3px; opacity: 0.8; }
  100% { top: 1px; opacity: 1.0; }
}

@media (min-width: 426px) and (max-width: 767px) {
	#call_topfix .call_area .thumb img { width: 120px; height: 120px; }
	#call_topfix .call_area .cont { padding: 15px 15px 15px 150px; height: 140px; }
	#call_topfix .call_area .cont p:nth-child(1) { font-size: 14px; }
	#call_topfix .call_area .cont p:nth-child(2) { font-size: 18px; font-weight: bold; }
	#product_insure { margin-top: 275px; }
}

@media (min-width: 768px) {
	#call_topfix .call_area .thumb img { width: 150px; height: 150px; }
	#call_topfix .call_area .cont { padding: 20px 20px 20px 180px; height: 170px; }
	#call_topfix .call_area .cont p:nth-child(1) { font-size: 14px; }
	#call_topfix .call_area .cont p:nth-child(2) { font-size: 20px; font-weight: bold; }
	#product_insure { margin-top: 305px; }
}

@media (min-width: 992px) {
	#call_topfix { top: 60px; }
	#call_topfix .call_area { margin: 0 auto; max-width: 940px; }
	#product_insure { margin-top: 315px; }
}

@media (min-width: 1200px) {
	#call_topfix .call_area { margin: 0 auto; max-width: 1140px; }
	#product_insure { margin-top: 315px; }
}