/* ============================================== /*
 *                      About
/* ============================================== */

.faq { padding: 30px 15px; }

#faq_1 .explain { margin-top: 20px; position: relative; display: inline-block; }
#faq_1 .explain .ex { margin-bottom: 20px; }
#faq_1 .explain .ex img:nth-child(1) { width: 60%; }
#faq_1 .explain .ex p:nth-child(2) { margin-top: 8px; font-size: 16px; font-weight: bold; }
#faq_1 .explain .ex p:nth-child(3) { margin-top: 3px; font-size: 14px; }
#faq_2 { margin: 0 auto; }

@media (min-width: 768px) and (max-width: 991px) {
	#faq_1.explain .ex p:nth-child(3) { height: 44px; font-size: 15px; }
}

@media (min-width: 992px) {
	#faq_2 { max-width: 940px; padding: 40px 15px; }
}

/* Bootstrap_Custom */
.panel-group .panel+.panel { margin-top: 10px; }
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a { line-height: 22px; color: #555; }
.collapsed:hover, .collapsed:focus { color: #555; }
