/* ============================================== /*
 *                    Main
/* ============================================== */

#main_banner .item img { margin: 0 auto; width: 100%; max-width: 1140px; }

#product { padding: 30px 0px; }
#product .product_area { position: relative; margin: 0 auto; margin-bottom: 15px; height: 265px; overflow: hidden; }
#product .product_area .bg { width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; border: 1px solid #ccc; }
#product .product_area .bg.p_1 { background-image: url("../images/product/product_1.jpg"); }
#product .product_area .bg.p_2 { background-image: url("../images/product/product_2.jpg"); }
#product .product_area .bg.p_3 { background-image: url("../images/product/product_3.jpg"); }
#product .product_area .bg.p_4 { background-image: url("../images/product/product_4.jpg"); }
#product .product_area .bg.p_5 { background-image: url("../images/product/product_5.jpg"); }
#product .product_area .bg .get_count { padding: 10px 10px 4px 10px; position: absolute; top: 0; right: 10px; background-color: #333; color: #fff; text-align: center; border-radius: 0px 0px 8px 8px; box-shadow: 0px 0px 5px #555; }
#product .product_area .bg .get_count div:nth-child(1) { font-size: 12px; text-align: left; }
#product .product_area .bg .get_count div:nth-child(2) { text-align: right; }
#product .product_area .bg .get_count div:nth-child(2) b { margin-right: 2px; font-family: 'Notosans-Bold'; font-size: 26px; }
#product .product_area .bg .count { position: absolute; top: 12px; left: 12px; margin: 0 auto; }
#product .product_area .bg .count.white { color: #fff; text-shadow: 0px 0px 5px #555; }
#product .product_area .bg .count.gray { color: #555; font-weight: bold; }
#product .product_area .bg .count p:nth-child(odd) { font-size: 12px; }
#product .product_area .bg .count p:nth-child(even) { font-family: 'Notosans-Bold'; font-size: 24px; line-height: 26px; }
#product .product_area .bg .count p:nth-child(even) span { margin-left: 3px; font-size: 14px; }
#product .product_area .bg .contents { position: absolute; bottom: 0; width: 100%; background: rgba(0,0,0,0.3); color: #fff; }
#product .product_area .bg .contents .cont-area { padding: 12px; }
#product .product_area .bg .contents .cont-area .brand { display: inline-block; }
#product .product_area .bg .contents .cont-area .brand .logo { position: relative; float: left; width: 38px; height: 38px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; border-radius: 50%; box-shadow: 0px 0px 5px #555; }
#product .product_area .bg .contents .cont-area .brand .logo.sym_1 { z-index: 1; }
#product .product_area .bg .contents .cont-area .brand .logo.sym_2 { z-index: 0; margin-left: -15px; }
#product .product_area .bg .contents .cont-area .brand .logo.p_1.sym_1 { background-image: url("../images/product/round.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_1.sym_2 { background-image: url("../images/product/aia.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_2.sym_1 { background-image: url("../images/product/unimax.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_2.sym_2 { background-image: url("../images/product/db.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_3.sym_1 { background-image: url("../images/product/casamom.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_3.sym_2 { background-image: url("../images/product/db.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_4.sym_1 { background-image: url("../images/product/living.png"); }
#product .product_area .bg .contents .cont-area .brand .logo.p_4.sym_2 { background-image: url("../images/product/ace.png"); }
#product .product_area .bg .contents .cont-area .brand .title { float: left; margin-left: 8px; }
#product .product_area .bg .contents .cont-area .brand .title p:nth-child(1) { display: block; font-size: 8px; text-shadow: 0px 0px 5px #000; }
#product .product_area .bg .contents .cont-area .brand .title p:nth-child(2) { display: block; font-family: 'Notosans-Bold'; font-size: 16px; color: #fff; line-height: 18px; text-shadow: 0px 0px 5px #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#product .product_area .bg .contents .cont-area .hashtag { margin-top: 8px; font-size: 12px; text-shadow: 0px 0px 5px #000; }
#product .product_area .bg .contents .cont-area .share { clear: both; display: inline-block; width: 100%; text-align: right; }
#product .product_area .bg .contents .cont-area .share a { display: inline-block; }
#product .product_area .bg .contents .cont-area .share img { width: 20px; }

#product .more-btn { text-align: center; }
#product .more-btn button { padding: 8px 20px; background-color: #777; font-size: 14px; color: #fff; border: 0px; border-radius: 5px; outline: none; }
#product .more-btn button:hover { background-color: #555; }


@media (max-width: 320px) {
	#product .product_area { min-width: 265px; max-width: 265px; height: 265px; }
	#product .product_area .bg .contents .cont-area .brand .title p:nth-child(2) { font-size: 14px; width: 172px; }
}
@media (min-width: 321px) and (max-width: 767px) {
	#product .product_area { min-width: 285px; max-width: 285px; height: 285px; }
	#product .product_area .bg .contents .cont-area .brand .title p:nth-child(2) { width: 192px; }
}
@media (min-width: 768px) and (max-width: 991px) {
	#product .product_area { min-width: 345px; max-width: 345px; height: 345px; }
}
@media (min-width: 991px) and (max-width: 1199px) {
	#product .product_area { height: 293.33px; }
}
@media (min-width: 1200px) {
	#product .product_area { height: 360px; }
}